body {
	color: #000000; 
	background-color: #66FF66;
	padding: 0;
	margin: 0;
}

h1 {
	margin: 0;
	padding: 30px;
	text-align: center
}

p {
	margin: 10px; 
}

.menu a {
    color: black;
	text-decoration: none; 
}

table {
	width: 80%;
	margin: auto;
	font-weight: bold; 
}

input[type=text]{
	 color: #000000;
	 background-color: #FFFFFF;
	 border: 1px solid #555555;
	 border-radius: 3px;
	 padding: 3px;
 }

input[type=password]{
	color: #000000;
	background-color: #FFFFFF;
	border: 1px solid #555555;
	border-radius: 3px;
	padding: 3px;
}

input[type=submit]{
	color: #000000;
	font-weight: bold;
	background: #006D00;
	background: linear-gradient(#004D00, #006D00);
	border: 1px solid #668866;
	border-radius: 3px;
	padding: 5px; 
	margin: 5px;
	margin-left: 0px
}

.ui-autocomplete {
	list-style:none;
	padding: 2px;
	margin: 0;
	display:block;
	float: left;
	background:white;
}

.ui-autocomplete .ui-menu-item.ui-state-focus {
	font-weight: bold;
}

#header {
	background: #003300; 
	background: linear-gradient(#004D00, #66FF66); 
	padding: 5px;  
	margin: 0px;
	width: 100%; 
}

#contentcontainer {
	background-color: #CCFFCC;
    border: 1px solid #777777;
    border-radius: 5px;
	margin-left: auto; 
	margin-right: auto; 
	margin-top: 20px; 
	overflow: hidden;
	width: 80%; 
}

#logininfo {
	float: left;
	width: 50%; 
}

#loginfields {
	float: right; 
	width: 50%; 
}

#togglebuttons { 
	width: 100%; 
}

#footer{
	text-align: center; 
	padding: 20px;
}

.togglebtn {
	color: #000000;
	font-weight: bold;
	background: #006D00;
	background: linear-gradient(#004D00, #006D00);
	border: 1px solid #668866;
	padding: 5px; 
	margin: -2px;
	width: 33.334%; 
}

.error {
	color: red;
}

.candidateSelect {
	float: left;
	margin: 10px;
}

.candidateInfo {
	float: right;
	margin: 10px;
}

#map {
	width:500px;
	height:380px;
	margin: 5px;
}
