body {
	color: #000000; 
	background-color: #66FF66;
	padding: 0px;  
	margin: 0px;
}

h1 {
	margin: 0;
	padding: 30;
	text-align: center
}

p {
	margin: 10px; 
}

a {
    color: black;
	text-decoration: none; 
}

table {
	width: 80%;
	margin: auto;
	font-weight: bold; 
}

input[type=text]{
	color: #000000;
	background-color: #FFFFFF; 
	border: 1px solid #555555;
	border-radius: 3px;
	padding: 3px;
}

input[type=submit]{
	color: #000000;
	font-weight: bold;
	background: #006D00;
	background: linear-gradient(#004D00, #006D00);
	border: 1px solid #668866;
	border-radius: 3px;
	padding: 5px; 
	margin: 5px;
	margin-left: 0px
}

#header {
	background: #003300; 
	background: linear-gradient(#004D00, #66FF66); 
	padding: 5px;  
	margin: 0px;
	width: 100%; 
}

#contentcontainer {
	background-color: #CCFFCC;
    border: 1px solid #777777;
    border-radius: 5px;
	margin-left: auto; 
	margin-right: auto; 
	margin-top: 20px; 
	overflow: hidden;
	width: 80%; 
}

#logininfo {
	float: left;
	width: 50%; 
}

#loginfields {
	float: right; 
	width: 50%; 
}

#togglebuttons { 
	width: 100%; 
}

.togglebtn {
	color: #000000;
	font-weight: bold;
	background: #006D00;
	background: linear-gradient(#004D00, #006D00);
	border: 1px solid #668866;
	padding: 5px; 
	margin: 0px; 
	width: 33.334%; 
}

@media all and (min-width:1080px){
	.column{
		width:100%;
	}
}

@media all and (max-width:1079px) and (min-width:900px) {
	.column{
		width:100%;
	}
}

@media all and (max-width:899px) and (min-width:768px){
	.column{
		width:100%;
	}
}

@media all and (max-width:767px) and (min-width:480px){
	.column{
		width:100%;
	}
}

@media all and (max-width:479px) {
	.column{
		width:100%;
	}
}
